[user]
	name = Nivaldo Bondanca
	email = hick209@gmail.com
[core]
	editor = vim
[alias]
	hist = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color]
	ui = auto
[push]
	default = matching
[credential]
	helper = cache

